<div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 50px;">
  <div class="col-lg-10">
    <h2><%= @routine.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Profile', user_path(current_user.id) %>
      </li>
      <li class="active">
        <strong><%= @routine.name %></strong>
      </li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Exercises</h5>
        </div>
        <div class="ibox-content">

          <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Muscle Group</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
